/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }
  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }
  .attraction {margin: 0px 30px}

  #destinations_visited {
    display: inline-block;
    margin: 0px 20px;
    vertical-align: top
  }

  #destinations_visited a {
    font: bold 11px "Georgia";
    text-decoration: none;
    background-color: rgb(44, 110, 235);
    color: #f7f3f3;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  #destinations_not_visited a {
    font: bold 11px "Georgia";
    text-decoration: none;
    background-color: rgb(12, 173, 47);
    color: #f7f3f3;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  #destinations_not_visited {
    display: inline-block;
    margin: 0px 20px;
    vertical-align: top
  }

  #add_destination_button {
    margin: 0px 20px;
    clear: both
  }

  nav a {
    font: bold 11px "Times New Roman";
    text-decoration: none;
    background-color: rgb(125, 156, 165);
    color: #f8f6f6;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  .attractions-lis{
    margin: 4px
  }

  .attractions-links {
    font: 14px "Times";
    text-decoration: none;
    background-color: rgb(44, 110, 235);
    color: #f7f3f3;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  #destination-box a {
    font: 12px "Arial";
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid rgb(95, 88, 88);
    border-right: 1px solid rgb(95, 88, 88);
    border-bottom: 1px solid rgb(95, 88, 88);
    border-left: 1px solid rgb(95, 88, 88);
  }

  #add_destination_button a {
    font: 12px "Arial";
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid rgb(95, 88, 88);
    border-right: 1px solid rgb(95, 88, 88);
    border-bottom: 1px solid rgb(95, 88, 88);
    border-left: 1px solid rgb(95, 88, 88);
  }

  #attraction-box {margin: 10px}
